@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root {
  --link-color: #4495ff;
  --background: #eee;
  --highlight: #fff;
  --text-color: #000;
  --live-color: red;
}

.light {
}

.dark {
  --background: #333;
  --highlight: #555;
  --text-color: #fff;
  --live-color: #c40000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: 'Nunito', sans-serif;
}

a {
  color: var(--link-color);
}
